email=npm@nexus.ru
registry=https://nexus.utg.group/repository/npm-group/
always-auth=true
//nexus.utg.group/repository/:_authToken=NpmToken.0a7d92d0-c115-38b5-a9e1-29911b2afecd
//nexus.utg.group/repository/npm-group/:_authToken=NpmToken.0a7d92d0-c115-38b5-a9e1-29911b2afecd
//nexus.utg.group/repository/npm-registry/:_authToken=NpmToken.0a7d92d0-c115-38b5-a9e1-29911b2afecd
