@import '~@assets/styles/colors.scss';

.root {
  display: flex;
  align-items: center;
  cursor: pointer;

  :global .icon-angle-down {
    margin: 8px;
    color: get-color('white', 50);
  }
}

.name {
  width: 128px;
  margin: 0 0 0 8px;
}
