.respItem {
  display: flex;
  flex-direction: column;
  padding: 18px;
  margin: 5px;
  border: 1px solid rgba(128, 128, 128, 0.423);
  border-radius: 5px;
  gap: 30px;
  p {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.nameValue {
  display: flex;
}

.respItemDiv {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  padding: 10px;
  min-height: 25rem;
  max-height: 600px;
}
