.modal {
}

.root {
  padding: 20px 24px 24px 24px;
  border-radius: 0;
  background-color: get-color('grey', 50);
  height: 100%;
}

.header {
  margin-bottom: 24px;
}

.alert {
  margin-bottom: 24px;
}

.info {
  width: 100%;
  margin-bottom: 24px;
}

.buttonMarginLeft {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-top: auto;
}

.buttonContainer {
  padding-bottom: 24px;
  padding-right: 24px;
}
