.attention {
  background: rgba(249, 157, 21, 0.15);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.alertTxt {
  color: #F99D15;
  font-size: 14px;
  padding: 14px 14px 14px 10px;
}


